body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body.dark-mode {
    background-color: #222;
    color: #f8f9fa;
}

body.dark-mode .form-control,
body.dark-mode .form-select {
    background-color: #333;
    color: #f8f9fa;
}

p{
    margin: 0%;
}

.btn-start-running {
    background-color: #dc3545;
    border-color: #dc3545;
}