body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body.dark-mode {
    background-color: #222;
    color: #f8f9fa;
}

body.dark-mode .form-control,
body.dark-mode .form-select {
    background-color: #333;
    color: #f8f9fa;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
    background:#ccc;
}